<div *ngIf="portfolioData">
    <div class="portfolio-modal modal fade" id="{{portfolioData.modalName}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">{{portfolioData.project.projectName}}</h2>
                                <p class="item-intro text-muted">{{portfolioData.project.projectShortDescription}}</p>
                                <img class="img-fluid d-block mx-auto" src="{{portfolioData.project.fullImage}}" alt="">
                                <p>{{portfolioData.project.projectLongDescription}}</p>
                                <ul class="list-inline">
                                    <li>Date: {{portfolioData.project.projectDate}}</li>
                                    <li>Client: {{portfolioData.clientName}}</li>
                                    <li>Category: {{portfolioData.category}}</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
